server:
  port: 8080
  error:
    include-message: always

spring:
  profiles:
    active:
      - dev
  datasource:
    #    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/pixshare_db
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: 'validate'
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false

cors:
  allowed-origins: "*"
  allowed-methods: "*"
  allowed-headers: "*"
  exposed-headers: "*"

jwt:
  secret-key: ${JWT_SECRET_KEY}
  token-issuer: ${JWT_TOKEN_ISSUER}
  token-expiry-seconds: ${JWT_TOKEN_EXPIRY_SECONDS}

cloudinary:
  api-env-url: ${CLOUDINARY_URL}
  upload-preset: ${CLOUDINARY_UPLOAD_PRESET}
  upload-folder: ${CLOUDINARY_UPLOAD_FOLDER}


